---
layout: default
---

{% if page.compatible or page.incompatible %}
{% assign platforms = 'linux macos windows' | split: ' ' %}
<article class="message">
  <div class="message-header">
    <p>Compatibility</p>
  </div>
  <div class="message-body">
    <ul id="compatibility">
      <li class="compatible"><i class="fa fa-check-circle-o" aria-hidden="true"></i> python3.x</li>
      {% for platform in platforms %}
        {% if page.compatible contains platform %}
          <li class="compatible"><i class="fa fa-check-circle-o" aria-hidden="true"></i> {{ platform }}</li>
        {% elsif page.incompatible contains platform %}
          <li class="incompatible"><i class="fa fa-ban" aria-hidden="true"></i> {{ platform }}</li>
        {% else %}
          <li class="maybe-compatible"><i class="fa fa-question-circle-o" aria-hidden="true"></i> {{ platform }}</li>
        {% endif %}
      {% endfor %}
    </ul>
</div>
</article>
{% endif %}

{{ content }}

{% if page.docs_pub_url %}
<hr/>
Download this document <a href="{{ page.docs_pub_url }}">here</a>.
{% endif %}

{% if page.embed_url %}
<iframe style="width: 100%; height: 100%" src="{{ page.embed_url }}"></iframe>
{% endif %}
